on: [push]

name: Build

jobs:
  build:
    name: Build
    if: startsWith( github.ref, 'refs/tags/v' )
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Build with latest AutoHotkey release
        uses: benmusson/ahk2exe-action@v1
        with:
          in: .\vim.ahk
          out: .\vim_ahk\vim_ahk.exe
          target: x64
          compression: upx
          ahk-tag: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy icons
        shell: cmd
        run: xcopy /i /y vim_ahk_icons vim_ahk\vim_ahk_icons
      - name: zip
        shell: pwsh
        run:
          Compress-Archive -Path "vim_ahk"  -DestinationPath vim_ahk-${{github.ref_name}}.zip
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            vim_ahk-${{github.ref_name}}.zip
